################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EntityFrameworkForDummys.ConsoleApp/obj
/EntityFrameworkForDummys.ConsoleApp/bin/Debug/net6.0
/EntityFrameworkForDummies.ConsoleApp/bin/Debug/net6.0
/EntityFrameworkForDummies.ConsoleApp/obj
